@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue: #03a9f4;
  --lightGray: #c4c4c4;
  --gray: #717171;
  --darkGray: #575757;
  --gradient1: #062431;
  --gradient2: #0e4d6d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 720px) {
}
@media only screen and (min-width: 720px) {
}
